.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-title::after {
  content: '';
  display: block;
  width: 120px; /* ラインの幅を適切に調整 */
  height: 9px; /* ラインの太さを設定 */
  background-color: #f05454;
  position: absolute;
  bottom: 2px;
  left: 50%; /* 左端を50%に設定 */
  transform: translateX(-50%); /* 中央に寄せる */
  z-index: -1;
}

.about,
.skills {
  width: 100%;
  margin-bottom: 20px;
}

.about-content {
  text-align: left;
  line-height: 1.5;
  font-weight: 300;
}

.content-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px;
  background-color: LightGrey;
  border-radius: 5px;
  font-size: 1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  align-items: center;
  background-color: #f05454;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease; /* アニメーションを滑らかに */
  box-shadow: 3px 3px 0px black; /* 黒い影を追加、ぼかし無し */
}

button:active {
  box-shadow: none; /* クリック時に影がなくなる */
  transform: translate(3px, 3px); /* ボタンが影の位置に押される効果 */
}

@media screen and (min-width: 769px) {
  .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 1;
  }

  .section-title::after {
    content: '';
    display: block;
    width: 161px; /* ラインの幅を適切に調整 */
    height: 13px; /* ラインの太さを設定 */
    background-color: #f05454;
    position: absolute;
    bottom: 0px; /* タイトルの下に少し余白を持たせる */
    left: 50%; /* 左端を50%に設定 */
    transform: translateX(-50%); /* 中央に寄せる */
    z-index: -1;
  }

  .about,
  .skills {
    width: 45%;
  }

  .about-content {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 50px;
  }

  .content-title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill-item {
    padding: 8px 10px;
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
  }

  button {
    align-items: center;
    padding: 12px 30px;
    box-shadow: 5px 5px 0px black;
  }

  button:active {
    box-shadow: none;
    transform: translate(4px, 4px);
  }
}

@media screen and (min-width: 1025px) {
  .section-container {
    padding: 40px;
  }

  .content-title {
    margin-bottom: 30px;
  }

  .about-content {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 55px;
  }

  .skill-item {
    padding: 10px 15px;
  }

  .button-container {
    margin-top: 50px;
  }

  button {
    padding: 15px 35px;
    font-size: 16px;
    box-shadow: 6px 6px 0px black;
  }

  button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
  }
}
