.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-title::after {
  content: '';
  display: block;
  width: 120px; /* ラインの幅を適切に調整 */
  height: 9px; /* ラインの太さを設定 */
  background-color: #f05454;
  position: absolute;
  bottom: 2px;
  left: 50%; /* 左端を50%に設定 */
  transform: translateX(-50%); /* 中央に寄せる */
  z-index: -1;
}

.about,
.skills {
  width: 100%;
  margin-bottom: 20px;
}

.about-content {
  text-align: left;
  line-height: 1.5;
  font-weight: 300;
}

.content-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.skill-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 7px;
  background-color: LightGrey;
  border-radius: 5px;
  font-size: 1rem;
}

@media screen and (min-width: 769px) {
  .section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 1;
  }

  .section-title::after {
    content: '';
    display: block;
    width: 161px; /* ラインの幅を適切に調整 */
    height: 13px; /* ラインの太さを設定 */
    background-color: #f05454;
    position: absolute;
    bottom: 0px; /* タイトルの下に少し余白を持たせる */
    left: 50%; /* 左端を50%に設定 */
    transform: translateX(-50%); /* 中央に寄せる */
    z-index: -1;
  }

  .about,
  .skills {
    width: 45%;
  }

  .about-content {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 50px;
  }

  .content-title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .skill-item {
    padding: 8px 10px;
  }
}

@media screen and (min-width: 1025px) {
  .section-container {
    padding: 40px;
  }

  .content-title {
    margin-bottom: 30px;
  }

  .about-content {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.7;
    margin-top: 55px;
  }

  .skill-item {
    padding: 10px 15px;
  }
}
