.contactMe-container {
  padding: 60px 20px;
  align-items: flex-start;
}

@media screen and (min-width: 769px) {
  .contactMe-container {
    display: flex; /* Use Flexbox to arrange children horizontally */
  }
}

@media screen and (min-width: 1025px) {
}
