.contactMe-container {
  padding: 60px 20px;
  align-items: flex-start;
}

.contact-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .contactMe-container {
    display: flex; /* Use Flexbox to arrange children horizontally */
  }
}

@media screen and (min-width: 1025px) {
}
