.header-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 50vh;
  width: 100%;

  text-align: left;
  position: relative;
}

.header-container h2 {
  font-family: Impact, fantasy;
  font-size: 32px;
  margin: 5px 0;
  color: #f05454;
}

.header-container h1 {
  color: rgb(43, 42, 42);
  font-size: 46px;
  margin: 5px 0;
  font-family: Impact, fantasy;
}

.header-contents {
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .header-contents {
    min-height: 60vh;
    margin-left: 200px;
    padding: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .header-contents {
    margin-left: 220px;
    padding: 40px;
  }
}
