.main-content-container {
  margin-left: 120px;
  padding: 10px;
}

@media screen and (min-width: 769px) {
  .main-content-container {
    margin-left: 200px;
    padding: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .main-content-container {
    margin-left: 220px;
    padding: 30px;
  }
}
