.navbar {
  background-color: whitesmoke;
  padding: 20px;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  margin: 0 50px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f05454;
}

.menu-icon {
  font-size: 14px;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 60px;
  right: 0;
  height: 100vh;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.nav-menu.active {
  transform: translateX(0);
}

@media screen and (min-width: 769px) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    position: initial;
    height: auto;
    width: auto;
    flex-direction: row;
    transform: translateX(0);
    justify-content: flex-end;
    display: flex;
    margin: 0 50px;
    padding: 0;
  }
}

@media screen and (min-width: 1025px) {
  .navbar a {
    font-size: 16px;
  }
}
