/* ナビゲーションバー全体のスタイル */
.navbar {
  background-color: whitesmoke;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

/* ナビゲーションのコンテナ */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* メニューアイコンのスタイル */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 20px; /* 上からの距離を指定 */
  right: 20px; /* 右からの距離を指定 */
  z-index: 200; /* アイコンが他の要素の上に表示されるようにする */
}

/* 初期状態ではナビゲーションメニューは画面外に隠す */
.nav-menu {
  position: absolute;
  top: 40px; /* .menu-icon の下に配置 */
  right: 0;
  width: 100px;
  background-color: whitesmoke;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 150;
}

.nav-menu.active {
  transform: scaleY(1); /* メニューが画面内にスライドして表示される */
}

/* 各ナビゲーションリンクのスタイル */
.nav-menu li {
  margin: 15px 0;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #f05454;
}

/* デスクトップ画面でのメニューアイコン非表示 */
@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: flex-end;
    height: 70px;
  }

  .menu-icon {
    display: none;
  }

  .nav-menu {
    position: initial;
    transform: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
  }

  .nav-menu li {
    margin: 0 40px;
  }

  .navbar a {
    font-size: 16px;
  }
}

@media screen and (min-width: 1025px) {
  .nav-menu li {
    margin: 0 60px;
  }
}
