.sidebar {
  height: 100vh; /* Full height */
  background-color: grey;
  width: 95px;
  position: fixed; /* Anchoring the sidebar */
  top: 0; /* Positioning from the top of the viewport */
  left: 0; /* Align to the left side */
  transition: width 0.5s ease; /* Smooth transition for width change */
  z-index: 2; /* Make sure it is above other elements */
}

.sidebar-expand-chevron {
  display: flex;
  align-items: right;
  justify-content: right;
  cursor: pointer;
}

.sidebar-expand-chevron p svg {
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 5px;
  margin-top: 50px;
}

@media screen and (min-width: 769px) {
  .expanded {
    width: 200px;
  }
}

@media screen and (min-width: 1025px) {
  .expanded {
    width: 220px;
  }
}
