body {
  font-family: 'Inter', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.page-section {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-title::after {
  content: '';
  display: block;
  width: 120px; /* ラインの幅を適切に調整 */
  height: 9px; /* ラインの太さを設定 */
  background-color: #f05454;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.content-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

button {
  align-items: center;
  background-color: #f05454;
  color: black;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 200;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 0px black;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.btn-white {
  background-color: white;
  border: solid 1px black;
  color: black;
  margin-right: 20px;
}

@media screen and (min-width: 769px) {
  .page-section {
    width: 100%;
    max-width: 900px;
    padding: 40px;
    margin-bottom: 60px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
    z-index: 1;
  }

  .section-title::after {
    content: '';
    display: block;
    width: 161px; /* ラインの幅を適切に調整 */
    height: 13px; /* ラインの太さを設定 */
    background-color: #f05454;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .content-title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1024px) {
  .page-section {
    width: 100%;
    max-width: 1400px;
  }

  .section-container {
    padding: 40px;
  }

  .content-title {
    margin-bottom: 30px;
  }
}
