* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  width: 100%;
}

.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-section {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.section-title::after {
  content: '';
  display: block;
  width: 120px;
  height: 9px;
  background-color: #f05454;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.content-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: left;
}

.btn-red {
  align-items: center;
  background-color: #f05454;
  color: black;
  padding: 16px 30px;
  font-size: 16px;
  font-weight: 200;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0px black;
}

.btn-white {
  background-color: white;
  border: solid 1px black;
  cursor: pointer;
  color: black;
  font-size: 16px;
  font-weight: 200;
  padding: 16px 40px;
  margin-left: 10px;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0px black;
}

.btn-red:active,
.btn-white:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

@media screen and (min-width: 769px) {
  .page-section {
    width: 100%;
    max-width: 900px;
    padding: 40px;
    margin-bottom: 60px;
  }

  .section-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }

  .section-title::after {
    width: 165px;
    height: 13px;
  }

  .content-title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 30px;
    margin-top: 0;
  }

  .btn-red {
    padding: 18px 40px;
  }

  .btn-white {
    padding: 18px 50px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .page-section {
    width: 100%;
    max-width: 1400px;
  }

  .section-container {
    padding: 40px;
  }

  .section-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  .section-title::after {
    width: 210px;
    height: 15px;
  }

  .content-title {
    margin-bottom: 30px;
  }

  .btn-red {
    padding: 20px 45px;
    font-size: 18px;
  }

  .btn-white {
    padding: 20px 55px;
    margin-left: 40px;
    font-size: 18px;
  }
}
